@model BailBonds.Models.Contact

@{
    ViewBag.Title = "Contact";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/myStyles.css" />
</head>

<div class="brycecontainer">
    <img src="~/Content/Images/colorscrop.png" alt="Family" class="bryceimage">
    <div class="brycetext">
        <h2 class="brycecentertext">Contact Us</h2>
        <p> We'd really love to hear from you. <br /> Whether you have a question about pricing, finding an agent, or just want to chat, our team is ready to answer all your questions</p>  
    </div>
</div>
<br />
<h4>Come give us a visit</h4>
<address>
    Legit Street Address<br />
    Salt Lake, UT 84604<br />
    <abbr title="Phone">P:</abbr>
    (425)-555-0100
</address>
<br />
<h4>Or email our Support or Marking Team directly</h4>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Or Simply fill out this form and we will respond to your email as quickly as possible</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => Model.Subject, new List<SelectListItem>
           {
               new SelectListItem{ Text = "Select a Subject", Value = "1"},
               new SelectListItem{ Text = "Pricing", Value = "2"},
               new SelectListItem{ Text = "Finding an Agent", Value = "3"},
               new SelectListItem{ Text = "Other", Value = "4"}
           })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <h4 class=" = brycecentertext">However you choose to contact us, your customer satisfaction is our guarantee</h4>
<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
